:root {
  --green-color: hsl(104, 58%, 47%);
  --orange-color: hsl(28, 96%, 48%);
  --white-color: hsl(0, 0%, 96%);
  --bg-menu-hover: hsla(0, 0%, 0%, 0.3);
  --bg-menu-mobile: hsla(0, 0%, 0%, 0.95);
  --bg-lightbox-overlay: hsla(0, 0%, 10%, 0.95);

  --header-height: 80px;
  --header-padding: 0.5rem;

  --main-padding-mobile: 1rem;
  --main-padding-desktop: 4rem;

  --main-desktop-width: 80%;
  --footer-desktop-width: 80%;

  /* Moved to styles-juice.css */
  /* --main-desktop-width-juice: 100%;
  --footer-desktop-width-juice: 100%; */

  --icon-mobile-width: 50px;
  --icon-mobile-height: 50px;
  --icon-mobile-top: 20px;
  --icon-mobile-right: 10px;
  --icon-footer-width: 50px;
  --icon-footer-width-shop-desktop: 100px;

  --margin-p-mobile: 1.4rem;

  --font-size-body: 1.4rem;

  /* Mobile font variables */
  --font-size-h1-mobile: 2.5rem;
  --font-size-h2-mobile: 1.5rem;
  --font-size-h3-mobile: 1.2rem;

  /* Desktop font variables */
  --font-size-h1-desktop: 3rem;
  --font-size-h2-desktop: 2.3rem;
  --font-size-h3-desktop: 1.2rem;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: var(--font-size-h1-mobile);
}

h2 {
  font-size: var(--font-size-h2-mobile);
}

h3 {
  font-size: var(--font-size-h3-mobile);
}

p {
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: var(--font-size-body);
}

header {
  background-color: var(--green-color);

  padding: var(--header-padding);

  /* width: 100%; */

  top: 0;
  position: sticky;
  /* top: 90%; */
  z-index: 2;
}

/* This should always be the logo */
header img:first-child {
  height: 5rem;
}

header > img {
  width: var(--icon-mobile-width);
  height: var(--icon-mobile-height);
  position: absolute;

  top: var(--icon-mobile-top);
  right: var(--icon-mobile-right);

  display: none;
}

nav {
  display: flex;
  background-color: var(--bg-menu-mobile);
  position: absolute;

  /* It just works - Toddie */
  /* Ask why this works, I'm confused. */
  top: 1;
  left: 0;
  width: 100%;
  height: 99vh;
  z-index: 1;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */

  /* Transition */
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

nav a {
  color: var(--white-color);
  text-decoration: none;
  padding: 1rem;
}

main {
  padding: var(--main-padding-mobile);
}

main article:first-of-type {
  display: none;
}

main section:nth-of-type(2) article {
  display: flex;
  flex-direction: column;
}

article {
  /* margin: var(--margin-p-mobile) 0; */
  margin: 2.4rem 0;
}

section:first-of-type article:nth-of-type(2) p {
  margin: var(--margin-p-mobile) 0;
}

/* This is just for the Menu on the home page. Check if it should just be h2 instead of all of that extra stuff */
section:first-of-type h2 {
  margin-top: 4.2rem;
}

/* This is the slideshow, and it shouldn't be on mobile devices */
main section:last-of-type {
  display: none;
}

footer {
  color: var(--white-color);
  background-color: var(--green-color);

  /* margin: 0 ; */
  padding: 1.8rem var(--font-size-body);
}

footer a {
  color: var(--white-color);
  text-decoration: none;
}

footer img {
  width: var(--icon-footer-width);
  height: auto; /* Ask if this is ok */
  /* height: var(--icon-footer-width); */
}

footer img:last-of-type {
  /* width: var(--icon-footer-width-shop-desktop); */
  height: auto;
}

/* Used in BurgerMenu.js */
.is-active {
  display: block;
}

.show-menu {
  transform: translateX(0);
}

/* Desktop */
@media screen and (min-width: 780px) {
  h1 {
    font-size: var(--font-size-h1-desktop);
  }

  h2 {
    font-size: var(--font-size-h2-desktop);
  }

  h3 {
    font-size: var(--font-size-h3-desktop);
  }

  nav a {
    color: var(--white-color);
    text-decoration: none;
    padding: 1rem;
  }

  main {
    padding: var(--main-padding-desktop);
  }
}
